[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pip_conf_index_global"

[[source]]
url = "https://pypi.ngc.nvidia.com"
verify_ssl = true
name = "nvidia"

[[source]]
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = true
name = "torch"

[packages]
cuda-python = "*"
nvidia-cuda-runtime-cu11 = "==11.8.89"
nvidia-cudnn-cu11 = "==8.9.4.25"
nvidia-cufft-cu11 = "*"
nvidia-curand-cu11 = "*"
nvidia-cusolver-cu11 = "*"
nvidia-cusparse-cu11 = "*"
pynvml = "*"
tensorflow = "<2.11"
opencv-python = "*"
pillow = "*"
pandas = "*"
scikit-learn = "*"
scikit-image = "*"
matplotlib = "*"
pylint = "*"
tensorflow-datasets = "*"
gradio = "*"
typing-extensions = "==4.5"
pydantic = "==1.9"
pydantic-core = "==0.42.0"
torch = {version = "*", index = "torch"}
torchvision = {version = "*", index = "torch"}
torchaudio = {version = "*", index = "torch"}

[dev-packages]

[requires]
python_version = "3.10"
